html, body {
    width: 100%; height: 100%;
}

.wrapper {
    min-height: 100%;
}

/* -----------------------------header----------------------------- */
.header {
    position: absolute;
    width: 100%; height: 80px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid #CECECE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.h_container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_container > h3 {
    font-family: 'Noto Sans KR', 'Malgun Gothic';
    font-size: 23px;
    font-weight: 700;

}

/* -----------------------------section----------------------------- */
section > form {
    position: relative;
    top: 110px;
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.inp{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans KR', 'Malgun Gothic';
}

.inp > input {
    width: 80%; height: 45px;
    font-size: 18px;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #E8E8E8;
}


#radio_gender {
    position: absolute;
    left: 200px;
}

#radio_gender label {
    font-size: 17px;
    font-weight: 400;
}

#radio_wrapper2 {
    width: 600px;
}

#radio_wrapper2 > input{
    width: 80%;
}


.inp, .btn-group {
    width: 1000px;
}

.btn-group {
    border-top: 5px solid #F5F5F5;
    padding-top: 25px;

}
    
.btn-group > button, .btn-group > a > div{
    font-size: 25px;
    font-weight: 600;
    height: 60px;
}

.btn-group > a > div {
    width: 500px;
    border-radius: 5px 0px 0px 5px;
}

.inp:focus, .form-control:focus {
    outline: none;
    border-radius: 6px;
}

.warn:focus {
    outline: none !important;
    border: none;
    box-shadow: 0 0 8px red;
  }
  
.warn_msg {
    color: #FF0000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -1.8px;
    /* position: relative; */
    /* left: 100px */
}

 #age_msg {
 	position: absolute;
    right: 190px;
    bottom: 278px;
 }
 
 .hidden { 
    display: none;
 }